<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Indicators Hub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="../static/style/worldwide.png" alt="icone com imagem do planeta terra" width="36" height="30">
        <a class="navbar-brand">Hub de Indicadores Globais - Dados do IBGE</a>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2">
                <label for="countryDropdown">Selecione o país:</label>
                <select class="form-control" id="countryDropdown">
                    {% for country in data['countries'] %}
                    <option value="{{country['codigo']}}">{{country['nome']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="indicatorDropdown">Selecione o indicador:</label>
                <select class="form-control" id="indicatorDropdown">
                    {% for indicator in data['indicators'] %}
                    <option value="{{indicator['codigo']}}">{{indicator['descricao']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-secondary btn-block" id="submitButton"
                    onclick="sendGetRequest()">Consultar</button>
            </div>

            <h6 id="dataTitle" class="text-info font-weight-bold mt-4"></h6>
        </div>
        <p id="dataDescription" class="text-secondary mb-4"></p>

    </div>

    <div class="container mt-2 text-center">
        <div class="desktop-view row">
            <div class="col-md-3">
                <table id="dataTable" class="table table-sm table-bordered mt-2">
                    <thead class="thead-light">
                        <tr>
                            <!-- Headers from API -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data from API -->
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div id="chartContainer" class="mt-2">
                    <canvas id="myChart" width="200" height="100"></canvas>
                </div>
            </div>
        </div>

        <div class="mobile-view">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="true">Tabela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="false">Gráfico</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                    <table id="dataTableMobile" class="table table-bordered mt-2">
                        <thead class="thead-light">
                            <tr>
                                <!-- Headers from API -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data from API -->
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
                    <div class="mt-2">
                        <canvas id="myChartMobile" width="200" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>